// Import variables and font setup
@import 'fonts'
@import 'base64'

// Import includes
@import 'floating_labels'
@import 'warning'
@import 'stripe'

// Variables
$font-stack: 'Roboto', sans-serif

// ------------------------------------ General styles ------------------------------------
*, :before, :after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

body
	font: 300 18px $font-stack
	overflow-x: hidden

p
	margin: 0