doctype html
html(lang='#{current_lang}')

	include include/head

	body(class='#{current_lang}').index
		.page_wrapper

			include include/warning

			header
				.container
					.d-flex.justify-content-center
						h2.stripe Learn the Secret of Successful People
					p.under_stripe Expand the possibilities of your brain by 200-300% in just 1 course!
					.logo_and_text.d-flex
						p.logo.d-flex.align-items-center XXX
						p.text.d-flex.align-items-center is innovative solution based on the 5 most useful components for the brain to increase its’ activity and improve memory
					.header_main_container.d-flex.flex-wrap.justify-content-center.justify-content-xl-between.align-items-center
						.bottles_and_medals_and_blue_man_with_brain.d-flex
							.bottles_and_medals.d-flex.flex-column.justify-content-center.align-items-center
								.d-flex.justify-content-between.align-items-center
									img(src='img/medals/1.png', alt='', class='header_medal')
									img(src='img/medals/2.png', alt='', class='header_medal')
									img(src='img/medals/3.png', alt='', class='header_medal')
								img(src='img/two_bottles.png', alt='', class='header_two_bottles')
								img(src='img/labels/verified.png', alt='', class='header_verified')
							img(src='img/blue_man_with_brain.png', alt='', class='header_blue_man_with_brain')
						ul.header_list
							li Reveals all the possibilities of the brain
							li Accelerates the process of thinking
							li Improves memory and coordination
							li Increases mental efficiency
							li Facilitate the assimilation of information
							li Provides with fast effect within 10 minutes after application
					include include/trigger_simple
					.header_tv_labels_container.d-flex.flex-wrap.justify-content-between.align-items-center
						img(src='img/tv_labels/1.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/2.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/3.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/4.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/5.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/6.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/7.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/8.png', alt='', class='header_tv_label')

			section.bullets
				.container
					.d-flex.justify-content-center
						h2.stripe Check what you really are good of!
					p.default.bold In the modern world, those people achieve more, who distinguished by higher mental abilities in combination with high efficiency. However, like any other organ, the brain has the ability to get tired and does it quickly enough and often as mental activity increased.
					.d-flex.flex-wrap.flex-lg-nowrap.justify-content-lg-between.justify-content-center
						.bullets_bullets
							p.bullets_bullet Just imagine how much you could have done if your brain always worked at <span class="bold blue">the maximum of its capabilities?</span>
							p.bullets_bullet Imagine how would you feel when you were old, if you could keep <span class="bold blue">own brain normally functioning up to the old age?</span>
							p.bullets_bullet Imagine the results could you show at the exams if your <span class="bold blue">brain and memory worked 200% more efficiently?</span>
						img(src='img/man_with_brain.png', alt='', class='man_with_brain')
					.bullets_bottom_text
						p.first_p.bold ХХХ is the first 100% natural remedy that increases brain activity and improves memory. Moreover, it not only does not harm the organism, but benefits.
						p.second_p.black.blue Today many successful people worldwide take XXX.

			section.benefits
				.container
					.d-flex.justify-content-center
						h2.stripe Unique benefits of XXX
					.benefits_bullets_container
						p.benefits_bullet Increases mental capacity 3-4 times
						p.benefits_bullet Facilitates the rapid assimilation of information
						p.benefits_bullet Protects brain cells from premature destruction
						p.benefits_bullet Normalizes sleep and vision
						p.benefits_bullet Accelerates the decision-making process
						p.benefits_bullet Gives energy and self-confidence
						p.benefits_bullet Increases mental efficiency
						p.benefits_bullet Improves the power of the intellect, memory and concentration
					p.bold According to medical research, the process of deteriorating brain ability begins with 25 years. For a period of up to 50 years, the brain potential reduced to 60% of the original. That is why XXX is recommended for all people without exception.
					p.default With this remedy, you will achieve more!
					include include/trigger_section

			section.course
				.container
					.d-flex.justify-content-center
						h2.stripe ХХХ is easy to take
					.course_steps_container.d-flex.justify-content-between.align-items-start
						.course_steps_step
							img(src='img/icons/sections/course/step_img_1.png', alt='', class='course_steps_step_img rounded-circle')
							p.course_steps_step_text Take 1 capsule 2 times a day – in the morning and in the evening
						.course_steps_step
							img(src='img/icons/sections/course/step_img_2.png', alt='', class='course_steps_step_img rounded-circle')
							p.course_steps_step_text Drink plenty of water
						.course_steps_step
							img(src='img/icons/sections/course/step_img_3.png', alt='', class='course_steps_step_img rounded-circle')
							p.course_steps_step_text Take daily course
						.course_steps_step
							img(src='img/icons/sections/course/step_img_4.png', alt='', class='course_steps_step_img rounded-circle')
							p.course_steps_step_text Minimum course is 2 weeks
					p.papper_text.bold XXX works already in 10 minutes after taking, pure evident. With each passing day, the effect accumulates more and more. At the end of the course, you will notice how your brain works 2-3 times more efficiently than before, and less tired.

			section.why
				.container
					.d-flex.justify-content-center
						h2.stripe Due to what XXX is so effective?
					.why_texts_container.d-flex.flex-wrap.justify-content-center.justify-content-lg-between.align-items-start
						p.why_left_text The main reason for the decline in the brain functionality is associated with the exhaustion of the nervous system, which can be caused by age, stress, bad habits, poor ecology, sedentary lifestyle and many other reasons. As a result, the rate of transmission of nerve impulses in all parts of the brain decreases, which in turn leads to a decrease in its’ potential, rapid fatigue, functional impairment of memory functions and coordination.
						p.why_right_text.blue XXX restores the nervous system, bringing it to a normal healthy state, and supports an active increase in the number of brain cells, due to which it provides not only a short-term stimulating effect, but also increases the possibilities of the brain itself for a long time.
				.why_trigger_container
					.container
						include include/trigger_section

			section.doctor
				.container
					.d-flex.justify-content-center
						h2.stripe Doctors’ opinion on XXX
					.d-flex.flex-wrap.flex-lg-nowrap.justify-content-center.align-items-center
						.doctor_text
							p If you are experiencing a serious load on the brain and are often engaged in mental activity, you certainly should try XXX. With it, your opportunities will increase significantly, and you will tired less. 
							p Since XXX consists only of natural components, it does not harm the body, and therefore its use is absolutely safe.
							p.bold It is important to understand that XXX is not an energetic and not a tonic, but a carefully balanced vitamin and mineral complex that rise brain activity by improving the corresponding processes within the body. XXX does not exhaust and does not wear out the nervous system, but, on the contrary, normalizes its work.
							p.blue I personally take XXX, so its effectiveness is proved by me, and by many of my patients.
						.doctor_medals.d-flex.flex-row-reverse.flex-lg-column.justify-content-between.justify-content-lg-center.align-items-center
							img(src='img/medals/4.png', alt='', class='doctor_medal')
							img(src='img/medals/5.png', alt='', class='doctor_medal')
							img(src='img/medals/6.png', alt='', class='doctor_medal')
						.doctor_photo_and_text
							img(src='img/doctor.png', alt='', class='doctor_photo')
							.doctor_name
								p.bold Christensen V.,
								p.italic neurologist, Candidate of Medical Sciences


			//- include include/footer
			//- include include/floating_labels

		include include/scripts