doctype html
html(lang='#{current_lang}')

	include include/head

	body(class='#{current_lang}').index
		.page_wrapper

			include include/warning

			header
				.container
					.d-flex.justify-content-center
						h2.stripe Learn the Secret of Successful People
					p.under_stripe Expand the possibilities of your brain by 200-300% in just 1 course!
					.logo_and_text.d-flex
						p.logo.d-flex.align-items-center XXX
						p.text.d-flex.align-items-center is innovative solution based on the 5 most useful components for the brain to increase its’ activity and improve memory
					.header_main_container.d-flex.flex-wrap.justify-content-center.justify-content-xl-between.align-items-center
						.bottles_and_medals_and_blue_man_with_brain.d-flex
							.bottles_and_medals.d-flex.flex-column.justify-content-center.align-items-center
								.d-flex.justify-content-between.align-items-center
									img(src='img/medals/1.png', alt='', class='header_medal')
									img(src='img/medals/2.png', alt='', class='header_medal')
									img(src='img/medals/3.png', alt='', class='header_medal')
								img(src='img/two_bottles.png', alt='', class='header_two_bottles')
								img(src='img/labels/verified.png', alt='', class='header_verified')
							img(src='img/blue_man_with_brain.png', alt='', class='header_blue_man_with_brain')
						ul.header_list
							li Reveals all the possibilities of the brain
							li Accelerates the process of thinking
							li Improves memory and coordination
							li Increases mental efficiency
							li Facilitate the assimilation of information
							li Provides with fast effect within 10 minutes after application
					include include/trigger_simple
					.header_tv_labels_container.d-flex.flex-wrap.justify-content-between.align-items-center
						img(src='img/tv_labels/1.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/2.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/3.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/4.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/5.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/6.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/7.png', alt='', class='header_tv_label')
						img(src='img/tv_labels/8.png', alt='', class='header_tv_label')

					
			//- include include/footer
			//- include include/floating_labels

		include include/scripts