.warning {
  background-color: #e6e6e6;
  padding: 15px 0; }
  .warning span {
    color: #e50003;
    font-size: 18px; }
  .warning p {
    font-size: 13px; }

.warning_icon {
  margin-right: 18px; }
