footer
	.container
		.d-flex.flex-wrap.justify-content-between.align-items-center
			.logo_and_text.d-flex.justify-content-between.align-items-center
				p.logo.d-flex.align-items-center XXX
				p.text.d-flex.align-items-center Find out what you are capable of!
			.footer_links.d-flex.justify-content-between.justify-content-md-center.align-items-center
				a(href='#', class='footer_link') Terms and Conditions
				a(href='#', class='footer_link') Privacy Policy
				a(href='#', class='footer_link') Contact Us
		p.footer_warning <span>Warning !</span> The statments made on our websites have not been evaluated by the FDA (U.S. Food & Drug Administration). This product is not intended to diagnose, cure or prevent any disease. The information provided by this website or this companay is not a substitute for a face-to-face consultation with your physician, and should not be construed as indvidial medical advice. The testimonials on this website are individial cases and do not guarantee that you will get the same results.
		.d-flex.flex-wrap.justify-content-between.align-items-center
			p.copyright Copyright &copy; 2017<br>MAsterSPA, LLC   ITN 104380285762   PRSN 427602692592
			.credit_cards.d-flex.justify-content-center.align-items-center
				p.bold.italic Easy purchase
				img(src='img/icons/credit_cards/1.svg', alt='', class='credit_card')
				img(src='img/icons/credit_cards/2.svg', alt='', class='credit_card')
				img(src='img/icons/credit_cards/3.svg', alt='', class='credit_card')
				img(src='img/icons/credit_cards/4.svg', alt='', class='credit_card')
				img(src='img/icons/credit_cards/5.svg', alt='', class='credit_card')