head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='author', content='Alexandr Vlasenko')
  // Title
  title #{title}
  // Concatinated and minified stylesheets
  link(rel='stylesheet', href='css/bundle.libs.min.css')
  link(rel='stylesheet', href='css/main.min.css')