.trigger_simple.d-flex.flex-lg-row.flex-column.justify-content-between.align-items-center
	p.trigger_title we keep performing!
	.label_overlay
		p.label Over 39 000 satisfied customers!
	a(href='#').btn easy purchase