.trigger_section.d-flex.flex-lg-row.flex-column.justify-content-between.align-items-center
	img(src='img/three_bottles.png', alt='', class='three_bottles')
	.title_and_label_container.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
		.label_overlay
				p.label Over 39 000 satisfied customers!
		p.trigger_title we keep performing!
	a(href='#').btn easy purchase