.warning
	.container.d-flex.align-items-center
		img(src='img/icons/warning_icon.png', alt='', class='warning_icon')
		p <span class="red">WARNING!</span> Because of all the media attention our stores are struggling to keep the stocks up. As of March 31 2017, we have a limited supply of products to ship within 24 hours.